@import 'bourbon';
@import 'neat';

/* All site content will be enclosed in a 'content' class */
section.content {
  width: 100%;
  padding-top: $baseline;

  &.third {
    top: 33vh;
  }

  &.half {
    top: 50vh;
  }

  &.full {
    top: 100vh;
  }

  &.backdrop {
    display: inline-block;
    box-sizing: border-box;
  }

}
